*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F2F8FC;
}
.container{
    position: relative;
    width: 100vw;
}
header{
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./images/head.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 30vh;
    position: relative;
}
.ve{
    width: 300px;
   
    height: 100px;
    position: absolute;
    top: 2px;
}
.headerul{
    width: 300px;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    
    position: absolute;
    left: 80%;
    top: 2px;
}
.edi{
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
   padding:5px 10px ;
    text-align: center;
    border-radius: 20px;
    color: #292929;
}
.headerul{
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;

    color: #292929;
}
.emma{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 200px;
}
.cl{
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.19);
    border-radius: 500px;
    padding: 3px 7px;
}
.cl button{
    border-radius: 50px;
    border: none;
}
.imic{
    border-radius: 500px;
    width: 30px;
    height: 30px;
}
.updowm{
    border-radius: 100px;
    height: 40px;
    width: 40px;
   
}
.updowm img{
    width: 20px;
    height: 20px;
}
.headtext{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 600px;
    top: 60px;
    background: #FDFF9B;
    border-radius: 500px;
    padding: 10px;

}
.headtext img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}